OAuth2 authentication doesn't support WWW-Authenticate header

## Problem statement

Per [RFC-6750 section 3](https://datatracker.ietf.org/doc/html/rfc6750#section-3), OAuth2 unauthenticated responses are required to have a WWW-Authenticate header:

_If the protected resource request does not include authentication credentials or does not contain an access token that enables access to the protected resource, the resource server MUST include the HTTP "WWW-Authenticate" response header field; it MAY include it in response to other conditions as well._

It appears that there's no supported way to do this in the go-swagger authentication. A workaround could be to manually set headers on the authentication response, but I haven't found a way to do so.

## Swagger specification

```
securityDefinitions:
  OAuth2:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://example.com/oauth/authorize
    tokenUrl: https://example.com/oauth/token
    scopes:
      ex:app:admin: Admin access
      ex:app:read: Read access
      ex:app:write: Write access
```

## Steps to reproduce

1. Create an endpoint protected by an oauth2 security definition
2. Return an error 400, 401, or 403 from the authentication function
3. Check for presence of a WWW-Authenticate header

## Environment
swagger version: 0.27.0  
go version: go1.16.6  
OS: darwin/amd64
